@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root[data-theme="light"] {
  --text-50: #f2f2f2;
  --text-100: #e6e6e6;
  --text-200: #cccccc;
  --text-300: #b3b3b3;
  --text-400: #999999;
  --text-500: #808080;
  --text-600: #666666;
  --text-700: #4d4d4d;
  --text-800: #333333;
  --text-900: #1a1a1a;
  --text-950: #0d0d0d;

  --background-50: #f2f2f2;
  --background-100: #e6e6e6;
  --background-200: #cccccc;
  --background-300: #b3b3b3;
  --background-400: #999999;
  --background-500: #808080;
  --background-600: #666666;
  --background-700: #4d4d4d;
  --background-800: #333333;
  --background-900: #1a1a1a;
  --background-950: #0d0d0d;

  --primary-50: #fce9e8;
  --primary-100: #f9d3d2;
  --primary-200: #f3a7a5;
  --primary-300: #ed7c78;
  --primary-400: #e8504a;
  --primary-500: #e2241d;
  --primary-600: #b51d17;
  --primary-700: #871612;
  --primary-800: #5a0e0c;
  --primary-900: #2d0706;
  --primary-950: #170403;

  --secondary-50: #e8fcf6;
  --secondary-100: #d2f9ed;
  --secondary-200: #a5f3dc;
  --secondary-300: #78edca;
  --secondary-400: #4ae8b8;
  --secondary-500: #1de2a7;
  --secondary-600: #17b585;
  --secondary-700: #128764;
  --secondary-800: #0c5a43;
  --secondary-900: #062d21;
  --secondary-950: #031711;

  --accent-50: #e8f1fc;
  --accent-100: #d2e2f9;
  --accent-200: #a5c5f3;
  --accent-300: #78a9ed;
  --accent-400: #4a8ce8;
  --accent-500: #1d6fe2;
  --accent-600: #1759b5;
  --accent-700: #124387;
  --accent-800: #0c2c5a;
  --accent-900: #06162d;
  --accent-950: #030b17;
}
:root[data-theme="dark"] {
  --text-50: #0d0d0d;
  --text-100: #1a1a1a;
  --text-200: #333333;
  --text-300: #4d4d4d;
  --text-400: #666666;
  --text-500: #808080;
  --text-600: #999999;
  --text-700: #b3b3b3;
  --text-800: #cccccc;
  --text-900: #e6e6e6;
  --text-950: #f2f2f2;

  --background-50: #0d0d0d;
  --background-100: #1a1a1a;
  --background-200: #333333;
  --background-300: #4d4d4d;
  --background-400: #666666;
  --background-500: #808080;
  --background-600: #999999;
  --background-700: #b3b3b3;
  --background-800: #cccccc;
  --background-900: #e6e6e6;
  --background-950: #f2f2f2;

  --primary-50: #170403;
  --primary-100: #2d0706;
  --primary-200: #5a0e0c;
  --primary-300: #871612;
  --primary-400: #b51d17;
  --primary-500: #e2241d;
  --primary-600: #e8504a;
  --primary-700: #ed7c78;
  --primary-800: #f3a7a5;
  --primary-900: #f9d3d2;
  --primary-950: #fce9e8;

  --secondary-50: #031711;
  --secondary-100: #062d21;
  --secondary-200: #0c5a43;
  --secondary-300: #128764;
  --secondary-400: #17b585;
  --secondary-500: #1de2a7;
  --secondary-600: #4ae8b8;
  --secondary-700: #78edca;
  --secondary-800: #a5f3dc;
  --secondary-900: #d2f9ed;
  --secondary-950: #e8fcf6;

  --accent-50: #030b17;
  --accent-100: #06162d;
  --accent-200: #0c2c5a;
  --accent-300: #124387;
  --accent-400: #1759b5;
  --accent-500: #1d6fe2;
  --accent-600: #4a8ce8;
  --accent-700: #78a9ed;
  --accent-800: #a5c5f3;
  --accent-900: #d2e2f9;
  --accent-950: #e8f1fc;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-900) !important;
  background: var(--background-50);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

/* ----------------------------------------- */

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 20px;
  margin-bottom: 2rem;

  color: var(--text-900);
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100px;

  color: var(--background-500);
}

nav div {
  width: 100px;
}

nav a:hover {
  color: var(--background-700);
}

nav h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--background-900);
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;

  /* text-decoration: underline; */
  text-decoration-style: wavy;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2rem;
}

nav button {
  border: none;
  background-color: var(--accent-100);
  color: var(--accent-500);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

nav button:hover {
  background-color: var(--accent-200);
  color: var(--accent-600);
}

/* ----------------------------------------- */

.toolWrapper {
  width: 100%;
  min-height: 100vh;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

/* ----------------------------------------- */

.toolItem {
  width: 300px;
  height: 300px;
  outline: 2px solid var(--text-200);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  /* overflow: hidden; */

  position: relative;
}

.toolImageHeader {
  background-color: var(--background-100);
  height: 30%;
  border-radius: 1rem 1rem 0rem 0rem;
}

.toolImageHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}

.toolItemContent {
  height: 70%;
  position: relative;
  color: var(--text-950);

  padding: 30px 10px 10px 10px;
}

.toolItemContent img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: var(--background-50);
  border-radius: 50%;
  border: none;
  padding: 5px;
  position: absolute;
  top: -25px;
  left: 20px;
}

.toolItemContent h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

.toolItemContent p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.toolItemContent button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.toolItemContent a {
  padding: 10px 20px;
  background-color: var(--accent-500);
  color: var(--text-50);
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.toolItemSoon {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: white;

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
}

.toolItemSoon svg {
  width: 80px;
  height: 80px;
  color: var(--primary-500);
}

.toolItemNew {
  position: absolute;
  top: -10px;
  right: -10px;
  transform: rotateZ(15deg);
  z-index: 10;
  padding: 5px 10px;
  border-radius: 0.5rem;

  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: white;

  background-color: var(--primary-500);
}

/* ----------------------------------------- */

.passwordCard {
  width: 95%;
  max-width: 720px;
  color: var(--text-900) !important;
  /* outline: 2px solid var(--text-200); */
  border-radius: 1rem;
  padding: 1.25rem;
  margin: auto;
  margin-bottom: 20px;
}

.passwordCard .outputRow {
  display: flex;
  background-color: var(--background-200);
  border-radius: 1rem;
  width: 100%;
}

.passwordCard .passwordField {
  width: 100%;
  font: 600 1.05rem/1.4 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  padding: 0.9rem 1rem;
  border: none;
  background: transparent;
  color: var(--text-950);
}

.passwordCard .outputRow button {
  padding: 0.7rem 0.9rem;
  border: none;
  background: transparent;
  color: var(--text-950);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}

.passwordCard .bar {
  height: 8px;
  border-radius: 999px;
  background: linear-gradient(
    90deg,
    var(--background-200) 0%,
    var(--background-200) 100%
  );
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 1rem;
}
.passwordCard .bar.s0 {
  background: linear-gradient(90deg, red 20%, #2b3b61 20%);
}
.passwordCard .bar.s1 {
  background: linear-gradient(90deg, orange 40%, #2b3b61 40%);
}
.passwordCard .bar.s2 {
  background: linear-gradient(90deg, yellow 60%, #2b3b61 60%);
}
.passwordCard .bar.s3 {
  background: linear-gradient(90deg, lightgreen 100%, lightgreen 100%);
}

.passwordCard .lengthRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.passwordCard .lengthRow input[type="range"] {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 8px;
  border-radius: 100%;
  background: var(--background-200);
  cursor: pointer;
  accent-color: var(--accent-500);
  border: none;
}

.passwordCard .lengthRow span {
  border-radius: 1rem;
  border: none;
  background-color: var(--background-200);
  font-size: 1.2rem;
  text-align: center;
  padding: 0;

  width: 50px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordCard .optionsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.passwordCard .option {
  width: calc(50% - 0.5rem);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.passwordCard .option input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--accent-500);
}

.passwordCard .option span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

/* ----------------------------------------- */

.uuidCard {
  width: 100%;
  max-width: 600px;
  padding: 1.25rem;
  color: var(--text-900);
  margin: auto;
}

.uuidCard textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border: none;
  background-color: var(--background-200);
  color: var(--text-950);
  font: 600 1.05rem/1.4 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  padding: 1rem;
  border-radius: 1rem;
}

.uuidCard .actionRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.uuidCard .actionRow button {
  padding: 0.7rem 0.9rem;
  border: none;
  background: transparent;
  color: var(--text-950);
  background-color: var(--background-200);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.uuidCard .actionRow .countRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.uuidCard .actionRow .countRow input[type="range"] {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 8px;
  border-radius: 100%;
  background: var(--background-200);
  cursor: pointer;
  accent-color: var(--accent-500);
  border: none;
}

.uuidCard .actionRow .countRow span {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--background-200);
  color: var(--text-950);
  font: 600 1.05rem/1.4 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  padding: 0 1rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.uuidCard .optionsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.uuidCard .optionsGrid .option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.uuidCard .optionsGrid .option input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--accent-500);
}

.uuidCard .optionsGrid .option span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

/* ----------------------------------------- */

.diffCheckerWrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 1.25rem;

  color: var(--text-900) !important;
}

.diffCheckerWrap .inputs {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.diffCheckerWrap .inputs textarea {
  width: 100%;
  height: 400px;
  resize: none;
  border: none;
  background-color: var(--background-200);
  color: var(--text-950);
  font: 600 1.05rem/1.4 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  padding: 1rem;
  border-radius: 1rem;
  max-width: calc(50% - 0.5rem);
  min-width: 300px;
}

.diffCheckerWrap .actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.diffCheckerWrap .actions button {
  padding: 0.7rem 0.9rem;
  border: none;
  background: transparent;
  color: var(--text-950);
  background-color: var(--background-200);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.diffCheckerWrap .diff .muted {
  color: var(--text-600);
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  margin-top: 0.5rem;
  text-align: center;
  user-select: none;
}

.diffCheckerWrap .diff {
  width: 100%;
  border: none;
  background-color: var(--background-200);
  color: var(--text-950);
  font: 600 1.05rem/1.4 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  padding: 1rem;
  border-radius: 1rem;
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
}

.diffCheckerWrap .diff .add {
  background-color: #d4f8d4;
  color: black;
}

.diffCheckerWrap .diff .del {
  background-color: #f8d4d4;
  color: black;
}

/*  */

.gpxcard {
  width: 100%;
  max-width: 960px;

  margin: auto;

  display: flex;
  flex-direction: column;
}

.gpxcard input[type="file"] {
  display: none;
}

.gpxcard label {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: var(--background-200);
  color: var(--text-950);
  font: 600 1.05rem/1.4 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px dashed var(--background-400);
  cursor: pointer;
}

.gpxfiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  margin-top: 1rem;
}

.gpxfile {
  padding: 1rem;

  background-color: var(--background-200);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.gpxfile .muted {
  color: var(--text-600);
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  user-select: none;
}

.gpxcard .actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.gpxcard .actions button {
  padding: 0.7rem 0.9rem;
  border: none;
  background: transparent;
  color: var(--text-950);
  background-color: var(--background-200);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.gpxcard .actions button:disabled {
  background-color: var(--background-300);
  color: var(--text-600);
  cursor: not-allowed;
}

.gpxcard .stats {
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  background-color: var(--background-200);
  color: var(--text-950);
  font: 600 1.05rem/1.4 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gpxcard .preview {
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  background-color: var(--background-200);
  color: var(--text-950);
  font: 600 1.05rem/1.4 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  border-radius: 1rem;

  max-height: 400px;
  overflow: auto;
}

.gpxcard .preview textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: var(--text-950);
  font: inherit;
  resize: none;
}

.gpxcard .err {
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  background-color: var(--background-200);
  color: rgb(224, 2, 2);
  font: 600 1.05rem/1.4 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  border-radius: 1rem;

  text-align: center;
}
